
.jumbotron {
  padding: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .jumbotron {}
}

.img1 {
  width: 100%;
}

.img2 {
  width: 100%;
}

.img4 {
  width: 100%;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}


.cellphone-img {
  text-align: center;
}
.Container{
  width: 1400px;
  max-width: 100%;
  padding: 0 20px;
  margin:0 auto;
}
.box p{
  opacity: 0.6;
}
.Pic1 {
  border: 5px solid #2b2b28;
  /* float: left;
  margin-left: 150px;
  margin-top: 20px;
  margin-right: 200px;
  bottom: -30%; */
  width: 35%;
  border-radius: 20px;
  transform: rotate(340deg);
}

/* .one {
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: white;
  height: 500px;
  text-align: justify;
  padding: 20px;
} */
.box{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  margin: 40px 0;
  padding: 60px 120px;


}

.Pic2 {
  border: 5px solid #2b2b28;
  /* float: right;
  margin-right: 150px;
  margin-top: 20px;
  margin-left: 200px;
  bottom: -30%; */
  width: 35%;
  /* height: 400px; */
  border-radius: 20px;
  transform: rotate(20deg);
}

.two {
  /* margin-top: 70px;
  margin-bottom: 70px; */
  background-color: #d7bcfd;
  /* height: 500px;
  text-align: justify;
  padding: 20px; */
}

.Pic3 {
  border: 5px solid #2b2b28;
  /* float: left;
  margin-left: 150px;
  margin-top: 20px;
  margin-right: 200px;
  bottom: -30%; */
  width: 35%;
  height: 400px;
  border-radius: 20px;
  transform: rotate(340deg);
}

/* .three {
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: white;
  height: 500px;
  text-align: justify;
  padding: 20px;
} */

.logo {
  width: 150px;
  height: 150px;
}

.topbar {
  background-color: #8186d5;
}

/* Ahmad Part */
#contributers {
  padding: 50px;
  background-color: #d7bcfd;
  text-align: center;
}
.carousel-heading{
  margin-bottom: 0;
  font-size: 2rem;
  text-align: center;
  background-color: #d7bcfd;
}

.carousel-item {
  height: 500px;
}

.slide-daniel {
  width: 300px;
  height: 337px;
}

.slide-joshua {
  width: 250px;
  height: 337px;
}

.slide-ahmad {
  width: 220.74px;
  height: 337px;
}

.slide-gurdarshan {
  width: 317.26px;
  height: 337px;
}

.slide-patrick {
  width: 385.387px;
  height: 337px;
}

.slide-ricky {
  width: 320px;
  height: 337px;
}

.slide-nik {
  width: 384.4px;
  height: 337px;
}

.slide-alix {
  width: 261.91px;
  height: 337px;
}

.links {
  margin-top: 1rem;
}

.icon {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  width: 40px;
  height: 40px;
  text-decoration: none;
}

.icon:hover {
  color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  transition: 2s;
}

.flex {
  text-decoration: none;
  list-style-type: none;
}

.carousel-item>p {
  padding: 10px;
}

.carousel-link {
  align-items: flex-start;
}


footer {
  background-color: black;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
